body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: linear-gradient(
    68.2deg,
    rgb(7, 3, 98) -0.1%,
    rgb(179, 26, 132) 47.7%,
    rgb(239, 186, 83) 100.2%
  );
  /*background: rgba(255, 255, 255, 0.8)
    url("https://images.unsplash.com/photo-1694481348806-0b6de4934812?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1771&q=80");*/
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-size: cover;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  font-size: 14px;
  text-align: center;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
}

.clock span {
  width: 100px;
  height: 80px;
  border: solid white 2px;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  /*background: linear-gradient(
    112.5deg,
    rgb(95, 10, 135) 11.4%,
    rgb(164, 80, 139) 60.2%
  );*/
  
  opacity: 0.8;
}
